<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav secondary">
    <!-- Contenido del sidebar -->
    <p>Menú</p>
    <button mat-button>Inicio</button>
    <button mat-button>Configuración</button>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <!-- Contenido principal -->
    <mat-toolbar color="primary">Mi Aplicación</mat-toolbar>
    <div class="content">
      <app-table></app-table>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
