<h3 class="favorite-title">Favorites characters</h3>

@if (false) {
  <mat-chip-set class="character-favorite">
    <mat-chip color="accent">
      Rick Sanchez
    </mat-chip>
    <mat-chip color="accent">Rick Sanchez</mat-chip>
    <mat-chip color="accent">Rick Sanchez</mat-chip>
    <mat-chip color="accent">Rick Sanchez</mat-chip>
    <mat-chip color="accent">Rick Sanchez</mat-chip>
    <mat-chip color="accent">Rick Sanchez</mat-chip>

  </mat-chip-set>
} @else {
  <p>No hay caracteres seleccionados como favoritos</p>
}
