
<div class="character-card" *ngIf="character && !isLoadingCharacter">
  <div class="character-title">{{character.name}}</div>
  <div class="character-image">
    <img
      ngSrc="{{ character.image }}"
      alt="{{ character.id }}"
      fill
    />
  </div>


  <ul class="character-info">
    <li><strong>Location:</strong> {{ character.locationName }}</li>
    <li><strong>Resident in Location:</strong> {{ character.locationResident }}</li>
    <li><strong>Origin:</strong> {{ character.originName }}</li>
    <li><strong>Resident in Origin:</strong> {{ character.originResident }}</li>
    <li><strong>Episode:</strong> {{ character.episodeName }}</li>
  </ul>

  <mat-chip-set class="character-favorite">
    <mat-chip color="accent" (click)="changeFavorite(character)">{{ isMarkedAsFavorite ? 'Remove favorite' : 'Mark as favorite' }}</mat-chip>
  </mat-chip-set>

</div>

<div *ngIf="isLoadingCharacter" class="spinner-wrapper">
  <mat-spinner></mat-spinner>
</div>

