
<div class="character-card" *ngIf="character && !isLoadingCharacter">
  <div class="character-image">
    <img
      ngSrc="{{ character.image }}"
      alt="{{ character.name }}"
      fill
    />
  </div>


  <ul class="character-info">
    <li><strong>Nombre:</strong> {{ character.name }}</li>
    <li><strong>Localización:</strong> {{ character.location.name }}</li>
    <li><strong>Origen:</strong> {{ character.origin.name }}</li>
    <li><strong>Episodio:</strong> {{ character.episode[0] }}</li>
  </ul>

  <mat-chip-set class="character-favorite">
    <mat-chip color="accent" (click)="changeFavorite(character)">{{ isMarkedAsFavorite ? 'Eliminar de favoritos' : 'Marcar como favorito' }}</mat-chip>
  </mat-chip-set>

</div>

<div *ngIf="isLoadingCharacter" class="spinner-wrapper">
  <mat-spinner></mat-spinner>
</div>

